@using XRP.Domain.Entity
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_HomeLayout1.cshtml";
    ViewData["Title"] = "Senior and Admin Privilege's";
}


<div class="container">
    <p>There are Junior real estate consultants, Senior real estate consultants and Real estate admins working here with this platform</p>
    <p>All new members who join by making their initial deposit will become a Junior real estate consultants. To get promoted as a Senior real estate consultants can be done by completing accept property requests for seven consecutive working days or by reaching Level 3 or 4 in the system. Senior real estate consultants will gain a referral code and have the rare opportunity to receive a once in a lifetime Exclusive Property request with exceptional rewards.</p>
    <p>Consultants who work continuously for three months will be promoted to real estate Admins positions which is the the highest rank here and the company will notifying them directly by email. Real Estate Admins may enjoy the highest privileges, including a monthly salary, the ability to earn from accept property request without referrals, and exclusive access to get high value Grand Royale Property requests with 10x commission and upto 50% bonus.</p>
    <p>Real estate consultants also can be get promoted instantly as a real estate admin if they complete a Luxury Property request, an Exclusive Property request, and a Grand Royale Property within two rounds, once their withdrawal is completed. This system rewards dedication, performance, and long term commitment with increasing benefits at every level.</p>
</div>

