<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
        $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
    });
</script>
<style>
    .ui-tabs-vertical {
        /* width: 55em; */
    }

        .ui-tabs-vertical .ui-tabs-nav {
            padding: .2em .1em .2em .2em;
           /*  float: left;
            width: 12em; */
        }

            .ui-tabs-vertical .ui-tabs-nav li {
                clear: left;
                width: 100%;
                border-bottom-width: 1px !important;
                border-right-width: 0 !important;
                margin: 0 -1px .2em 0;
            }

                .ui-tabs-vertical .ui-tabs-nav li a {
                    display: block;
                }

                .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
                    padding-bottom: 0;
                    padding-right: .1em;
                    border-right-width: 1px;
                }

        .ui-tabs-vertical .ui-tabs-panel {
            padding: 1em;
            float: left;
            width: 100%;
        }
</style>
<div style="margin-top:80px" class="p-page__section theme--light  no-print" data-deep-link="ThreeActionCardsContainer" data-r-name="Three Action Cards Container" data-r-ds="Three Action Cards Container - New user support" data-r-rule="true">
    <div class="p-page__section__outer">
        <div class="p-page__section__inner ">
            <div class="p-section__action-cards p-section__action-cards--3  p-page__section__child">
                <h1 style="font-weight:bold;margin-bottom:20px;color:darkblue">> About Us</h1>
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">About Us</a></li>
                        <li><a href="#tabs-2">Privacy Policy</a></li>
                        <li><a href="#tabs-3">Agreement between the User and company</a></li>
                        <li><a href="#tabs-4">About Agent Mode</a></li>
                        <li><a href="#tabs-5">Rules and Regulations</a></li>
                        <li><a href="#tabs-6">About Withdrawal</a></li>
                        <li><a href="#tabs-7">About Deposit</a></li>
                        <li><a href="#tabs-8">Version</a></li>
                    </ul>
                    <div id="tabs-1" style="text-align:justify">
                        <h2 style="font-weight:bold;font-size:20px">About Us</h2>
                        <br></br>
                        <p data-start="156" data-end="451">Global logistics is the foundation of progress and prosperity. It&rsquo;s a continuous, complex movement of goods and services that fuels our economies, strengthens partnerships, and shapes the way we live. But when these vital connections falter, so too does our ability to grow and succeed&mdash;together.</p>
                        <p data-start="453" data-end="660">At Maersk, we&rsquo;re committed to reimagining how food, products, data, and materials move across the world. Our goal is to create seamless, efficient flows that support people, businesses, and entire economies.</p>
                        <p data-start="662" data-end="793">We strive to enable the global exchange of ideas, culture, and trust&mdash;building a truly connected world where value is shared by all.</p>
                        <p data-start="795" data-end="1066">In a world of growing complexity and shifting demands, we believe resilience and agility are more critical than ever. By integrating advanced technologies, sustainable practices, and intelligent supply chain solutions, we are not just keeping pace&mdash;we&rsquo;re setting the pace.</p>
                        <p data-start="1068" data-end="1351">Every shipment we move, every connection we enable, brings us one step closer to a future where supply chains are smarter, greener, and more inclusive. Our ambition is to become a trusted partner for our customers, helping them navigate uncertainty while unlocking new opportunities.</p>
                        <p data-start="1353" data-end="1516">At Maersk, this transformation isn&rsquo;t just about logistics. It&rsquo;s about empowering communities, bridging distances, and making global trade work better&mdash;for everyone.</p>
                    </div>
                    <div id="tabs-2" style="text-align:justify">
                        <h2 style="font-weight:bold;font-size:20px">Privacy Policy</h2>
                        <br></br>
                        <p>Maersk &nbsp;Ltd, &nbsp;</p>
                        <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data. Our Privacy Policy for Maersk is managed through Free Privacy Policy Website.</p>
                        <p>Along with our Terms of Service and Cookie Policy, this policy explains how we collect and handle your information across all of our websites, mobile apps and other services. We'll review this policy from time to time to make sure it's up-to-date. If we make changes, we'll post the latest version here. When we make significant changes, we'll let you know when you next access our services, or by other communications.</p>
                        <p>Learn more about this policy</p>
                        <p>You'll come across the term 'personal data' a lot in this policy. By that, we mean any information relating to you as an identifiable individual. For example, this includes information that may of itself identify you such as your name, contact details, trip itinerary, internet protocol ("IP") address, cookie strings or device IDs, as well as information that may not on its own identify you, but which we store alongside such identifiers, such as how you are using our services or the country you are in when you do so.</p>
                        <p>We can only speak for ourselves so this policy doesn't cover the collection or use of your information by any of the airlines, online Maersk agents, hotels, car hire companies or other Maersk companies (let's call them "Maersk Suppliers") we feature. That means when you make a booking with a Maersk Supplier, your information will be processed by them in accordance with their own privacy policy and terms and conditions. But don't worry, we'll always give you the links so you can read them before making a booking.</p>
                        <p>We only use your information where you've given us your consent, where its necessary to deliver the services you've requested, where it's necessary to exercise or comply with legal rights or obligations, or for normal business purposes of the kind set out in this policy.</p>
                        <p>Learn more about why and how we use your personal data</p>
                        <p>When we need to do so to deliver our services or facilitate the performance of a contract you've entered - or are entering - into, such as making a booking with us or a Maersk Supplier.</p>
                        <p>How we use personal data to perform contracts.</p>
                        <p>Ensuring our services are accessible and usable by you on your specific device, for example by altering the way we display information to you based on your device type;<br>Generating results in response to your search queries, for example providing you with a list of the flight, hotel or car-hire options that best meet your requirements;<br>Where you select a Maersk Supplier that you'd like to make a booking with either:<br>redirecting you to their platform along with whatever data is necessary to enable them to recognise you and the Maersk option you had selected on Accor , including data about your browser or device and the details of your Maersk search; or facilitating the completion of that booking from within our services, which will involve us collecting and transferring to that Maersk Supplier all information required to enable the booking to be processed, including your contact details, passport or identification information, and payment details;<br>Contacting you with messages, notifications or alerts that are necessary in order to deliver our services requested, such as booking confirmation emails or other essential communications like flight status alerts and notifications about changes or updates to our services or to this policy, our Cookie Policy or our Terms of Service;<br>Responding to communications you have sent us, such as via our customer service help centre or on social media;<br>Displaying reviews, images and any other content and media you submit to platform or upload to the our Services (we'll call this "User Content"), and providing you with the tools to manage and delete this content;<br>Where you have created an account with us, maintaining and administering this and ensuring that it is kept up-to-date and accessible;<br>To improve or optimise our services and to otherwise protect or further our legitimate interests. This includes pretty serious reasons like fraud prevention and security but also fun ones like product enhancement so we can keep making our platfrom even better for our Maersklers.</p>
                        <p>Our legitimate interests</p>
                        <p>Security and fraud-prevention purposes, for example by storing a subset of your payment information such as last 4 digits of your credit card and IP address to record where a payment may have originated from, or to protect our services against misuse of our APIs or from automated software agents. For those purposes we might make automated decisions about you which may result in us or the Maersk Supplier you are booking with blocking the purchase;</p>
                        <p>Identifying and correcting faults with our services or areas for improvement through use of information like browser type, operating system, locale and language information and general site activity alongside any specific feedback you may provide to us from time to time;</p>
                        <p>Providing customer service or help services to you in relation to any questions you raise or issues you might encounter while using our services. For example, although it is the ultimate Maersk Supplier who is responsible to you for any issues you might have with a flight, hotel or other Maersk service you've booked via Accor , if you or the Maersk Supplier contacts us regarding an issue with your booking we'll need to use some of your personal data to be able to assist you;</p>
                        <p>Understanding and evaluating how, when and why people are using platform for the purposes of delivering, evaluating, improving and optimising the delivery of our services. For example: monitoring the numbers of users who redirect to, or make bookings with, Maersk Suppliers and details of the related Maersk options being selected for the purposes of commercial records and business analytics;</p>
                        <p>&nbsp;</p>
                        <p>Learn more about why and how we use your personal data</p>
                        <p>Understanding and evaluating how, when and why people are using platform for the purposes of delivering, evaluating, improving and optimising the delivery of our services. For example: monitoring the numbers of users who redirect to, or make bookings with, Maersk Suppliers and details of the related Maersk options being selected for the purposes of commercial records and business analytics; analysing at an aggregate level what different groups of users may be viewing or clicking on within our services in order to better understand which features or functionality are more popular or helpful than others; reviewing and moderating any User Content that you upload to the our Services; running A/B tests that display alternate versions of our services to different groups of users, in order to evaluate the positive or negative impact of such changes on our users' experience of our services. For example, we may change the prominence of a button, its colour or its placement for different users visiting our site to help us understand how to make our service easier to use or to more effectively draw users' attention to the most relevant and important information; and measuring the effectiveness of our communications through recording and analysing whether emails we have sent you have been opened.</p>
                        <p>Personalising your experience of our services in order to ensure your experience on platformis as helpful, efficient and relevant as possible. For example: we will use cookies to remember your language and currency preferences and may also personalise your experience by highlighting or recommending certain information or Maersk options that we believe are relevant to you based on your search history and use of our services; if you have asked us to send you newsletters or other marketing communications, we may tailor the timings or content of these to reflect what we believe will be of most interest to you, such as by using the fact that you've recently searched for a flight in Barcelona to prompt us to ask whether you'd like to search for a hotel in Barcelona as well; we may use your location information to predict which airport you are likely to want to depart from or arrive back to; and displaying relevant advertisements to you about our services or other services that we think may be of interest to you. For example, where we know that you've recently searched for a flight to a given location, we may display a message to you asking whether you'd like to search for a hotel or car in the same location. See the How is your information used for advertising? section below for more information.</p>
                        <p>Personalising your experience involves us creating a profile and timeline of your activity on our services. However, we are careful to ensure that our activities do not involve undertaking any profiling or automated decision making that might have any legal or other significant effects on you.</p>
                        <p>We may use your data to train our machine learning algorithms to help us personalise the Services. We will not use directly identifying information such as your contact details or payment data for these purposes.</p>
                        <p>Informing strategic business decisions through creating aggregated datasets of anonymised data that allow us to generate helpful insights into patterns or trends within the Maersk industry. For example, we can use search data to monitor demand for destinations and make sure that the fares and Maersk options that we surface to our users are available via our services. This information is also useful for Maersk Suppliers as it enables them to identify new routes or locations that are in demand and ensure they are delivering competitive rates. Contacting you in order to invite you to participate in genuine market research.</p>
                        <p>Where we process your personal data based on a legitimate interest we will only do so where the processing is relevant, adequate and limited to what is necessary for the purpose it was collected for. And of course, we'll always ensure our legitimate interests don't unfairly impact on your own rights and freedoms.</p>
                        <p>When we have your consent We will obtain your consent for purposes such as:</p>
                        <p>Sending you emails for services you request such as Price Alerts;<br>Sending you direct marketing communications via email, push notification or other means where you have consented to us doing so;<br>Storing certain cookies on your device, where doing so requires consent; and<br>Recording and evaluating feedback you give us where you agree to take part in one-to-one user testing.<br>Where we process your personal data based only on your consent, you can withdraw this consent at any time either</p>
                    </div>
                    <div id="tabs-3" style="text-align:justify">
                        <h2 style="font-weight:bold;font-size:20px">Agreement between the User and the company platform</h2>
                        <br></br>
                        <p>This website and any related mobile applications ("Site") are operated by Company and these terms and conditions of use ("Terms of Use") set out the terms under which Company agrees to provide services to you through this website (see terms defined below) and the terms on which the supplier agrees to provide the service to you. Accordingly, this website is provided to you on the condition that you accept without modification all terms, conditions, and notices under these terms of use. Please read the terms of use carefully. You undertake to perform the obligations contained in these Terms of Use. Your use of this website constitutes your agreement. If you do not agree to these terms of use, you are not authorized to use this site; therefore, please do not use or rate comments through this site. The platform may change these terms of use at any time, and your continued use of the site is conditional on acceptance of the updated terms of use.</p>
                        <p>1. Definition and scope</p>
                        <p>The following definitions have the same meaning whether in the singular or the plural. "Agent" (or "you/your") means the agent who maintains and/or provides one or more of the services offered on the Site. "Terms of Use" means the general terms and conditions of rating review and use as amended from time to time. "Photo Submission Guidelines" means the guidelines outlined in Section 11.2 of these Terms of Use, which may be further amended from time to time. "Rules and Restrictions" means the terms and conditions applicable to suppliers who enter into separate contracts with agents (e.g. airline conditions of carriage, individual train operating company conditions). "Services" means the services provided by the Platform, which the Agent will be able to experience by the Terms of Use after payment, including but not limited to all such services provided by suppliers, such as air transport services, accommodation services, car services provided through the Platform Rental services, rail transport services and insurance. "Vendor" means a vendor that provides complementary and support services and rating reviews to the Platform that provides the Services, such as airlines, hotels, Maersk agencies, car rental companies, train operators, or insurance providers. "Site" means the Platform website and any associated mobile applications. References to the word "Site" shall include access to the Site from a desktop, laptop, mobile device, and/or any other device capable of connecting to the Internet.</p>
                        <p>2. Legal Authorization of the Client</p>
                        <p>2.1 The lead agent must be at least 18 years of age and sound mind and have the statutory authority to make binding legal obligations. In this regard, the lead agency must be legally authorized to enter into contractual obligations at the time of the rating review and obtain the necessary consent or authorization to act on or on behalf of anyone in the rating review.</p>
                        <p>2.2 The Lead Agent must also ensure and hereby confirm that the details provided to the evaluating cuisines parties are complete and accurate, that all parties agree to be bound by these Terms of Use, and that the Lead Agent has the authority to accept and enforce the Representative Ratings. All agents in the comments accept these terms of use.</p>
                        <p>2.3 The Lead Agent is the person responsible for the evaluate cuisines, paying the deposit and full price, making any amendment and cancellation requests, paying any additional fees related to the evaluated cuisines, and all other matters related to the rating review.</p>
                        <p>3. General use of the website</p>
                        <p>3.1 As a condition of your use of this website, you warrant that (i) you will use this website by these terms of use; (ii) you will only use this website to make lawful reservations for you or others legally authorized by you; (iii) if You own a Platform account and you will protect your account information and supervise and be solely responsible for any use of your account by you and anyone other than you.</p>
                        <p>3.2 We reserve the right to deny access to the Website and Services to anyone at any time for any reason in our sole discretion. For example, without limitation, any fraudulent or conflicting use of this site's Terms of Use shall be grounds for denying the agent access to the services provided by the Platform and Providers or other features of the site.</p>
                        <p>4. Prohibited Activities</p>
                        <p>4.1 The content and information on this website (including but not limited to the prices and availability of rating reviews) and the infrastructure used to provide such content and information are the exclusive rights of us or our suppliers and providers. Although you may conduct rating reviews through this website, you agree not to otherwise modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, sell or resell any information from or Software, products or services obtained through this website. In addition, you agree not to:</p>
                        <p>use this website or its content for any commercial purpose;<br>conduct any speculative, false or fraudulent rating reviews;<br>use any robot, spider, crawler, or other automated means or any manual process to access, monitor, or reproduce any content or information on this website for any purpose without our express wrote permission;<br>violate any restrictions in the Robot Exclusion header on the Site, or bypass or circumvent other measures used to prevent or restrict access to the Site;<br>deep linking to any part of this website for any purpose (including, without limitation, the purchase path of any rating reviews) without our express written permission; or<br>"frame", "mirror" or otherwise incorporate any part of this website into any other website without our prior written authorization.<br>4.2 If your rating reviews or account show signs of fraud, abuse or suspicious activity, the company may cancel any rating reviews associated with your name, phone number, or account and close any associated platform accounts. If you engage in any fraudulent activity, the platform reserves the right to take any necessary legal action and you may be liable for monetary losses to our platform, including litigation costs and damages. To dispute a frozen or closed account, please contact Live Customer Service.</p>
                        <p>5. Privacy Policy</p>
                        <p>The platform believes in protecting your privacy. You can view our current Privacy Policy on another page that also governs your use of the website to learn about our practices.</p>
                        <p>6. Confirmation and Cancellation of Rating Review confirm</p>
                        <p>6.1 The confirmation of the rating review including the basic elements such as service description and price will be sent to the lead agent on the platform rating review page. If the lead agency does not complete the rating review within 24 hours, he/she should contact customer service to resolve the unfreeze or unlock the account.</p>
                        <p>6.2 It is expressly agreed that the data stored in the company and/or its suppliers' information systems shall constitute evidence about the Rating Review conducted by the lead agent. Data stored in a computer or electronic medium is valid evidence and is therefore acceptable under the same conditions as physical written documents with the same evidential value. Cancellation and Postponement</p>
                        <p>6.3 Once a rating review is posted, it cannot be canceled. In any event, once payment is received, no refund will be given even if canceled.</p>
                        <p>6.4 If the Agent wishes to extend the rating review and/or other changes after conducting the Rating Review, including but not limited to changing the Agent's details, the Agent should contact Customer Service. Fees may apply to applicable suppliers if the rating reviews are extended.</p>
                        <p>7.Hotel promotion</p>
                        <p>7.1 The promotion of hotel through data integration has not occurred any accidents, but some regions or hotel involve risks such as sensitive content. The company advises customers to review any hotel, warnings, announcements, and recommendations issued by the relevant government and displayed on its website. Nonetheless, the company should comply with the advice of the local government's Ministry of Foreign Affairs on media safety and will not send you to any of the above-mentioned authorities as inappropriate. However, any distribution location not specified by the agency shall be considered legal content and the company shall not be held responsible.</p>
                        <p>8. Statement of Liability</p>
                        <p>8.1 In any case, the company does not represent or guarantee that there is no risk of promotion of such food and cuisines, and the company does not assume any responsibility for any damage or loss that may occur in the promotion of such food and cuisines.</p>
                        <p>9. Comments, Comments, and Other Submissions</p>
                        <p>9.1 We thank you for your letter. Please be aware that any hotel reviews, other comments, questions, comments, suggestions, ideas, or similar content contained in any Submission (collectively, "Submissions"), you grant the Company a non-exclusive, royalty-free, perpetual, transferable, irrevocable, and fully sublicensable right to (a) use, reproduce, modify, adapt, translate, distribute, publish, create derivative works from and make publicly available Display and perform such Submissions around the world in any media now known or hereafter designed; (b) use the name you submit in connection with such Submissions.</p>
                        <p>9.2 You acknowledge that the Company may, in its sole discretion, choose to provide your comments or attribution of comments (for example, to list your name and hometown in comments you submit) and that such submissions may be shared with our vendor partners. You further grant Company the right to legally pursue any person or entity that violates your or Company's rights in the Submission.</p>
                        <p>9.3 You acknowledge and agree that Submissions are non-confidential and non-proprietary. To the extent possible, you expressly waive any "moral rights" (including rights of attribution or integrity)</p>
                    </div>
                    <div id="tabs-4" style="text-align:justify">
                        <h2 style="font-weight:bold;font-size:20px">About Agent Mode</h2>
                        <br></br>
                        <p>There are 3 agent levels here which named Junior shipping agents, Senior shipping agents, Online shipping admins. Whoever deposited and join here will be a Junior shipping agent</p>
                        <p>How to upgrade your level ?</p>
                        <p>If someone need upgrade level they can upgrade their junior level to Senior shipping agent level by continuously completing shipments for 7 working days. Or system upgraded their level up to level 3 or 4 they will be a Senior shipping agent</p>
                        <p>Whoever worked for 3 months continuously will be upgraded to Online shipment admin level. They are the highest rankers in platform and the company personally will contact them through email and let them know that they have upgraded to admin level</p>
                        <p>Which benefits you will get with agent levels?</p>
                        <p>Senior shipping agents will get an invitation code and  they can refer others also as per referral rules. The most important thing is they have a rare chance to get a Superior shipment once in a life time</p>
                        <p>And the Online shipping admins will be the super seniors in platform and they don't want to refer others anymore. Directly they will get monthly basic salary amount and they can earn by doing this shipments by themselves. And they are the only one who eligible to get an Exclusive Shipment orders with 10x bonus and up to 100% commission</p>
                        <p>Special Privileges to be an online shipping admin</p>
                        <p>If someone completed a prime shipment, superior shipment and an exclusive shipment as well in 2 round, the person's agent level will be upgraded instantly from next round onward (once the withdrawal is completed)</p>

                    </div>
                    <div id="tabs-5" style="text-align:justify">
                        <h2 style="font-weight:bold;font-size:20px">Rules and Regulations</h2>
                        <br></br>
                        <p>One mobile phone number can only be registered for one account.In order to prevent malicious use or a series of illegal acts, and entrust the platform to set the corresponding progress rules. The system will automatically match orders for the agent members when they In doing evaluation. After completing the the evaluations every day, the amount can be withdrawn to the pre-set or bind bank account. The platform Deposit only allows owner of the account to transfer money, other people or anonymous 's transfer will affect the security of the account.<br>Each account needs to complete all the tasks daily.<br>All tasks are randomly distributed by the system, so it is impossible to change, cancel or skip after receiving the task<br>Each order offered by different merchants, so the profit is naturally different. So, every time you need to get the bank account from customer service before you make the Deposit. You need to reconfirm the bank account with the customer service.<br>If you do not make the Deposit after 10 minutes , you will need to reconfirmed the account with customer service. In order to prevent unnecessary troubles for on going transaction.<br>The platform will not taking the responsible if you make the transfer to the wrong or expired time validation bank account<br>Minimum withdrawal amount is ₹500.00<br>&nbsp;</p>
                        <p>Note</p>
                        <p>Please do not use the same person's bank card information to register this platform account repeatedly to avoid data errors.</p>
                        <p>Once the bank card has been bound at a single account and it can't be changed anymore, unless the bank account has some problem that can't receive withdrawal.</p>
                    </div>
                    <div id="tabs-6" style="text-align:justify">
                        <h2 style="font-weight:bold;font-size:20px">About Withdrawal</h2>
                        <br></br>
                        <p>After completed every set of task, you may submit withdraw once only. Please bind your bank information on the platform before you submit for withdraw. Click the "Withdrawal" button after entering the amount you want to withdraw and enter your withdrawal password to withdraw. The specific arrival time is subject to the bank's arrival time.</p>
                        <p>Account are not allowed to keep remaining balance more than 1 lakh after apply for Withdrawal.</p>
                        <p>Note: Withdraw time 10:00 till 22:00</p>
                        <p>If member's withdrawal amount is more than Rs.3,00,000.00 in one transaction, they will need to pay a 50% security deposit for first time verification and safety purpose.</p>
                    </div>
                    <div id="tabs-7" style="text-align:justify">
                        <h2 style="font-weight:bold;font-size:20px">About Deposit</h2>
                        <br></br>
                        <p>Deposit can be done at the "Task" Page. Click on the "Deposit" button to redirect to the online deposit customer service to assist in remittance Deposit.</p>
                        <p>After transferring the money according to the account provided by the platform's customer service, be sure to submit a screenshot of the successful transfer to the account. Please make sure that the name of the person you are transferring to and the amount you are transferring are the same as the one being provided.</p>
                        <p>If you encounter any unsolvable problems during the Deposit process, please contact the on-duty online customer service.</p>
                        <p>Due to a large amount of information, please make sure to check the Deposit account number of this platform carefully before making Deposit. The platform occasionally changes the Deposit account number. If you have any inquiries, please contact the platform online customer service.<br>&nbsp;</p>
                    </div>
                    <div id="tabs-8" style="text-align:justify">
                        <h2 style="font-weight:bold;font-size:20px">Version</h2>
                        <br></br>
                        <p>Version 1.06.24 (Latest)</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
