@using XRP.Domain.Entity
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_HomeLayout1.cshtml";
    ViewData["Title"] = "About membership Privilege's";
}


<div class="container">
    <p><strong>Bronze Membership Privileges</strong></p>
    <p>Agents with Bronze Membership (Lv : 1) have the opportunity to earn up to 20% commission, &amp; they can receive up to 10% in bonuses if they receive a special Property Proposal in their 18 Proposals</p>
    <p><strong>Silver Membership Privileges</strong></p>
    <p>Agents with Silver Membership (Lv : 2) have the opportunity to earn up to 40% commission, &amp; they can receive up to 20% in bonuses if they receive a special Property Proposal in their 18 Proposals</p>
    <p><strong>Gold Membership Privileges</strong></p>
    <p>Agents with Gold Membership (Lv : 3) have the opportunity to earn up to 60% commission, &amp; they can receive up to 30% in bonuses if they receive a special Property Proposal in their 18 Proposals</p>
    <p><strong>Platinum Membership Privileges</strong></p>
    <p>Agents with Platinum Membership (Lv : 4) have the opportunity to earn up to 80% commission, &amp; they can receive up to 40% in bonuses if they receive a special Property Proposal in their 18 Proposals</p>
    <p><strong>Diamond Membership Privileges</strong></p>
    <p>Agents with Diamond Membership (Lv : 5) have the opportunity to earn up to 100% commission, &amp; they can receive up to 50% in bonuses if they receive a special Property Proposal in their 20 Proposals</p>
</div>

