<div style="margin-top:80px" class="p-page__section theme--light  no-print" data-deep-link="ThreeActionCardsContainer" data-r-name="Three Action Cards Container" data-r-ds="Three Action Cards Container - New user support" data-r-rule="true">
    <div class="p-page__section__outer">
        <div class="p-page__section__inner ">
            <div class="p-section__action-cards p-section__action-cards--3  p-page__section__child">
                <h1 style="font-weight:bold;margin-bottom:20px;color:darkblue">> Contact Us</h1>
                <div id="tabs">
                    <center><h1>Contact customer support via WhatsApp or Telegram.</h1></center>
                </div>

                <!-- Centered Images Section -->
                <div style="display: flex; justify-content: center; gap: 30px; margin-top: 30px;">
                    <img src="~/assets/images/wa.png" alt="Service 1" style="width: 150px; height: auto;">
                    <img src="~/assets/images/tg.png" alt="Service 2" style="width: 150px; height: auto;">
                </div>

            </div>
        </div>
    </div>
</div>
