@{
    Layout = "~/Views/Shared/_HomeLayout1.cshtml";
    ViewData["Title"] = "Events";
}
<link href="~/assets/css/evrnt.css" rel="stylesheet" />
<style>
   
}
</style>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 ul-bs-row">

        <!-- single project -->
        <div class="col wow animate__fadeInUp">
            <div class="ul-project">
                <div class="ul-project-img ul-project-img1"></div>
                <div class="ul-project-txt">
                    <span class="ul-project-tag">Popular</span>
                    <div class="top"></div>
                </div>
            </div>
        </div>

        <!-- single project -->
        <div class="col wow animate__fadeInUp">
            <div class="ul-project">
                <div class="ul-project-img ul-project-img2"></div>
                <div class="ul-project-txt">
                    <span class="ul-project-tag">Popular</span>
                    <div class="top"></div>
                </div>
            </div>
        </div>

        <!-- single project -->
        <div class="col wow animate__fadeInUp">
            <div class="ul-project">
                <div class="ul-project-img ul-project-img3"></div>
                <div class="ul-project-txt">
                    <span class="ul-project-tag">Popular</span>
                    <div class="top"></div>
                </div>
            </div>
        </div>

        <!-- single project -->
        <div class="col wow animate__fadeInUp">
            <div class="ul-project">
                <div class="ul-project-img ul-project-img4"></div>
                <div class="ul-project-txt">
                    <span class="ul-project-tag">Popular</span>
                    <div class="top"></div>
                </div>
            </div>
        </div>

        <!-- single project -->
        <div class="col wow animate__fadeInUp">
            <div class="ul-project">
                <div class="ul-project-img ul-project-img5"></div>
                <div class="ul-project-txt">
                    <span class="ul-project-tag">Popular</span>
                    <div class="top"></div>
                </div>
            </div>
        </div>

        <!-- single project -->
        <div class="col wow animate__fadeInUp">
            <div class="ul-project">
                <div class="ul-project-img ul-project-img6"></div>
                <div class="ul-project-txt">
                    <span class="ul-project-tag">Popular</span>
                    <div class="top"></div>
                </div>
            </div>
        </div>

        <!-- single project -->
        <div class="col wow animate__fadeInUp">
            <div class="ul-project">
                <div class="ul-project-img ul-project-img7"></div>
                <div class="ul-project-txt">
                    <span class="ul-project-tag">Popular</span>
                    <div class="top"></div>
                </div>
            </div>
        </div>

        <!-- single project -->
        <div class="col wow animate__fadeInUp">
            <div class="ul-project">
                <div class="ul-project-img ul-project-img8"></div>
                <div class="ul-project-txt">
                    <span class="ul-project-tag">Popular</span>
                    <div class="top"></div>
                </div>
            </div>
        </div>

        <!-- single project -->
        <div class="col wow animate__fadeInUp">
            <div class="ul-project">
                <div class="ul-project-img ul-project-img9"></div>
                <div class="ul-project-txt">
                    <span class="ul-project-tag">Popular</span>
                    <div class="top"></div>
                </div>
            </div>
        </div>

    </div>
</div>