@using XRP.Domain.Entity
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_HomeLayout1.cshtml";
    ViewData["Title"] = "Help";
}


<div class="container">
    <p><strong>1. Referral Program</strong> <br />Once user continue the job for 7 days all users will get an invitation code to refer others &amp; when join through own Invitation codes they become your downlines. As the upline consultants can extract 5% of the commission of the downline's. The commission obtained by the upline will be directly returned to the upline's platform account, or you can also check the team report also.</p>
    <p>You can get 5% of your Tier 1 agent's commission, 3% of your Tier 2 agent's commission and 1% of your Tier 3 agent's commission. All agents &amp; downlines on the platform have the same commissions and rewards. The developing a team does not affect the commissions and rewards of the agents/downlines. In accordance to IRS(Indian Revenue Service), platform might request member to take the responsibility to process for certain withdrawal and income from platform. The final interpretation is belongs to Larsen &amp; Toubro Limited.</p>
    <p><strong>2. Funding Awareness</strong><br />Deposit can be done at the "Accept Requests" Page and "Wallet" page. Click on the "Funding" button to redirect to the online Funding customer service to assist in remittance Funding. Users can choose Telegram to connect with customer support for more information and all financial related queries. After transferring the money according to the account provided by the customer service of the platform, make sure to submit the receipt or other relevant screenshots of the successful transfer to the account for the system verification purpose and Make sure the Beneficiary details of the person you're transferring to and the amount you're transferring are the same as what you're transferring. If you encounter any unsolvable problems during the Funding process, please contact the on-duty online customer service. Due to a large amount of information, please make sure to check the Funding account number of this platform carefully before make Funding. The platform occasionally changes the Funding account number. If you have any inquiries, please contact the platform online customer service.</p>
    <p><strong>3. Fund-Out Awareness</strong><br />After accepted 36 property requests users can fund out once. So users can fund out 1 times per day to their own bank account. Please bind your own bank information's correctly on the platform before you submit fund out for receive the funds. Click the "Fund Out" button after entering the amount you want to fund out. The specific arrival time is subject to the bank's arrival time. (fund out time 9.30 AM to 9.30 PM) Minimum fund out amount is 500 rupees and Maximum fund out is 80 Lakh. If you fund out more than 3 lakh, you will need to pay a refundable fees of 50% for the first time as verification of security purpose. The fees can be receive too after 1 hour of verification.</p>
</div>

