@{
    Layout = "~/Views/Shared/_HomeLayout1.cshtml";
    ViewData["Title"] = "Property Requests";
}
<div class="col wow animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div class="ul-project">
        <div class="ul-project-img"><img src="~/assets/img/prop/prop1.jpg" alt="Project Image"></div>
        <div class="ul-project-txt">
            <span class="ul-project-tag">Regular Property | x1 Commission</span>
            <div class="top">
                <div class="left">
                    <a href="project-details.html" class="ul-project-title">The One Galle Face Hotel Residence</a>
                    <p class="ul-project-location"><b>Property Description :</b> A high-rise luxury apartment complex with 51 floors and 390 sophisticated residences</p>
                    <p class="ul-project-location"><b>Order Number :</b> DFLJAFLGM5421FD</p>
                    <p class="ul-project-location"><b>Assigned Time :</b> 2025-09-05 12:13:00</p>
                    <p class="ul-project-location ul-project-price"><b>Unit Worth  :</b> <span class="number">₹4500,000,00.00</span></p>
                    <p class="ul-project-location ul-project-price"><b>Commision  :</b> <span class="number">₹4500,000,00.00</span></p>
                    
                </div>
                <div class="right">
                    <button class="ul-project-add-to-favorites-btn"><i class="flaticon-heart"></i></button>
                </div>
            </div>

            <!-- bottom -->
            <div class="ul-project-infos">
                <!-- single info -->
                <div class="ul-project-info">
                    <span class="icon"><i class="flaticon-bed-color"></i></span>
                    <span class="text">3 Beds</span>
                </div>
                <!-- single info -->
                <div class="ul-project-info">
                    <span class="icon"><i class="flaticon-bath"></i></span>
                    <span class="text">2 Bathrooms</span>
                </div>
                <!-- single info -->
                <div class="ul-project-info">
                    <span class="icon"><i class="flaticon-scale"></i></span>
                    <span class="text">6x7.5 m²</span>
                </div>
                <div class="ul-banner-slide-btns">
                    <a href="/Home/PropertyRequests" class="ul-btn">Continue</a>
                </div>
            </div>
        </div>
    </div>
</div>
@* <section class="ul-facilities ul-section-spacing">
    <div class="ul-container">
        <div class="row ul-bs-row row-cols-lg-2 row-cols-1 wow animate__fadeInUp">
            <!-- text -->
            <div class="col">
                <div class="ul-facilities-txt">
                    <h6 class="ul-section-sub-title">Our Top Facilities</h6>
                    <h2 class="ul-section-title">Making living spaces More Beautiful</h2>
                    <p class="ul-facilities-descr">Over 39,000 people work for us in more than 70 countries all over the This breadth of global coverage, combined with specialist services</p>

                    <div class="ul-facilities-stats">
                        <!-- single stat -->
                        <div class="ul-facilities-stat">
                            <span class="number">80%</span>
                            <span class="txt">Completed Property</span>
                        </div>
                        <!-- single stat -->
                        <div class="ul-facilities-stat">
                            <span class="number">99%</span>
                            <span class="txt">Satisfied Customers</span>
                        </div>
                        <!-- single stat -->
                        <div class="ul-facilities-stat">
                            <span class="number">50%</span>
                            <span class="txt">Home ownership</span>
                        </div>
                    </div>

                    <div class="ul-facilities-list">
                        <ul>
                            <li>Living rooms are pre-wired for Surround</li>
                            <li>Luxurious interior design and amenities</li>
                            <li>Private balconies with stunning views</li>
                            <li>A rare combination of inspired architecture</li>
                        </ul>
                    </div>

                    <div class="ul-facilities-img-slider-wrapper">
                        <div class="ul-facilities-img-slider-nav ul-slider-nav">
                            <button class="prev"><i class="flaticon-arrow"></i></button>
                            <button class="next"><i class="flaticon-right-arrow"></i></button>
                        </div>
                        <div class="ul-facilities-img-slider swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="~/assets/img/project-1.jpg" alt="Facility Image"></div>
                                <div class="swiper-slide"><img src="~/assets/img/project-2.jpg" alt="Facility Image"></div>
                                <div class="swiper-slide"><img src="~/assets/img/project-3.jpg" alt="Facility Image"></div>
                                <div class="swiper-slide"><img src="~/assets/img/project-4.jpg" alt="Facility Image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- img -->
            <div class="col">
                <div class="ul-facilities-img"><img src="~/assets/img/facility-img.jpg" alt="Facility Image"></div>
            </div>
        </div>
    </div>
</section> *@