@using XRP.Domain.Entity
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_HomeLayout1.cshtml";
    ViewData["Title"] = "How it works";
}


<div class="container">
    <p>Larsen &amp; Toubro Limited want to increase the exposure of their services, fast accept property requests and make more sales by avoiding cancelling property requests. This will help them increase sales and satisfied comments for future customers, this creating the Luxury Properties. A Luxury property requests is a benefit to all members who earn more COMMISSIONS rather than more Regular property requests. Company and Merchants designed it so that Senior real estate consultants and Junior real estate consultant can earn 3x commissions. It's exceptionally rare, consultants may have a chances to encounter only 1 (maximum) Luxury property requests in a round.</p>
    <p>When Luxury property are not submitted after receiving a request, it will be in still in "Processing". All you need to do is click the "Accept" &amp; "Dispose" buttons to complete the outstanding property requests. Luxury property request will be temporarily on hold because the system has assigned you a Luxury property. After you complete the Luxury property request that property request will be completed and the user can continue with all the remaining Luxury property and proceed to the fund out process. (If you are unable to complete the Luxury property within 72 hours and do not obtain an extension from customer service, your account will temporary deactivated.</p>
</div>

