<footer class="ign-footer" id="ign-footer">
    <div class="ign-footer__main">
        <div class="ign-footer__container" data-test="footer-container">
            <div class="ign-footer__links" data-test="ign-footer-links">
               @*  <div class="ign-footer__links__column" data-test="footer-links-column--0">
                    <div class="ign-footer__links__column__row" data-test="column--0-row--0">
                        <div class="ign-footer__links__heading" data-test="footer-links-heading">Plan &amp; Book</div>
                        <ul class="ign-footer__links__ul" data-test="footer-links-list">
                            <li class="ign-footer__links__ul__li" data-test="list-item--0">
                                <a class="ign-footer__link ign-track" title="Prices" data-test="prices-link" data-di-id="di-id-41ab6124-81c6cbad">
                                    Prices
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--1">
                                <a class="ign-footer__link ign-track" title="Book" data-test="book-link" data-di-id="di-id-21d45c9-eaa83032">
                                    Book
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--2">
                                <a class="ign-footer__link ign-track" title="Container tracking" data-test="container-tracking-link" data-di-id="di-id-7fbcb3c5-9a1b9080">
                                    Container tracking
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--3">
                                <a class="ign-footer__link ign-track" title="Vessel schedules" data-test="vessel-schedules-link" data-di-id="di-id-7fbcb3c5-d1e7aabd">
                                    Vessel schedules
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ign-footer__links__column__row" data-test="column--0-row--1">
                        <div class="ign-footer__links__heading" data-test="footer-links-heading">Help</div>
                        <ul class="ign-footer__links__ul" data-test="footer-links-list">
                            <li class="ign-footer__links__ul__li" data-test="list-item--0">
                                <a class="ign-footer__link ign-track" title="Local offices &amp; information" data-test="local-offices-&amp;-information-link" data-di-id="di-id-41ab6124-52e41db7">
                                    Local offices &amp; information
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--1">
                                <a class="ign-footer__link ign-track" title="Support" data-test="support-link" data-di-id="di-id-d9d40e54-39f79908">
                                    Support
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--2">
                                <a class="ign-footer__link ign-track" title="Contact us" data-test="contact-us-link" data-di-id="di-id-d9d40e54-83a9dd84">
                                    Contact us
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /links -->
                <div class="ign-footer__links__column" data-test="footer-links-column--1">
                    <div class="ign-footer__links__column__row" data-test="column--1-row--0">
                        <div class="ign-footer__links__heading" data-test="footer-links-heading">Logistics Services</div>
                        <ul class="ign-footer__links__ul" data-test="footer-links-list">
                            <li class="ign-footer__links__ul__li" data-test="list-item--0">
                                <a class="ign-footer__link ign-track" title="Ocean Transport" data-test="ocean-transport-link" data-di-id="di-id-ef70c22b-34df0567">
                                    Ocean Transport
                                </a>
                            </li>
                            
                            <li class="ign-footer__links__ul__li" data-test="list-item--2">
                                <a class="ign-footer__link ign-track" title="Intermodal Transport" data-test="intermodal-transport-link" data-di-id="di-id-ef70c22b-a0407f99">
                                    Intermodal Transport
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--3">
                                <a class="ign-footer__link ign-track" title="Lead Logistics" data-test="lead-logistics-link" data-di-id="di-id-aab8710d-5236629d">
                                    Lead Logistics
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--4">
                                <a class="ign-footer__link ign-track" title="Warehousing" data-test="warehousing-link" data-di-id="di-id-a9ec4481-448458a6">
                                    Warehousing
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--5">
                                <a class="ign-footer__link ign-track" title="Air Freight" data-test="air-freight-link" data-di-id="di-id-bd57226a-44d2980d">
                                    Air Freight
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--6">
                                <a class="ign-footer__link ign-track" title="E-Commerce Logistics" data-test="e-commerce-logistics-link" data-di-id="di-id-5ef8aaad-a986dc99">
                                    E-Commerce Logistics
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--7">
                                <a class="ign-footer__link ign-track" title="Less-than-Container Load (LCL)" data-test="less-than-container-load-(lcl)-link" data-di-id="di-id-a0a64741-7d0fae04">
                                    Less-than-Container Load (LCL)
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--8">
                                <a class="ign-footer__link ign-track" title="Cold Chain Logistics" data-test="cold-chain-logistics-link" data-di-id="di-id-5ef8aaad-8f387b39">
                                    Cold Chain Logistics
                                </a>
                            </li>
                            
                            <li class="ign-footer__links__ul__li" data-test="list-item--10">
                                <a class="ign-footer__link ign-track" title="Depot" data-test="depot-link" data-di-id="di-id-a0a64741-786584c0">
                                    Depot
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--11">
                                <a class="ign-footer__link ign-track" title="Cold Storage" data-test="cold-storage-link" data-di-id="di-id-ce8d4b62-8c2a71d1">
                                    Cold Storage
                                </a>
                            </li>
                           
                            
                        </ul>
                    </div>
                </div>
                <!-- /links -->
                <div class="ign-footer__links__column" data-test="footer-links-column--2">
                    <div class="ign-footer__links__column__row" data-test="column--2-row--0">
                        <div class="ign-footer__links__heading" data-test="footer-links-heading">Resources</div>
                        <ul class="ign-footer__links__ul" data-test="footer-links-list">
                            <li class="ign-footer__links__ul__li" data-test="list-item--0">
                                <a class="ign-footer__link ign-track" title="News &amp; advisories" data-test="news-&amp;-advisories-link" data-di-id="di-id-5cf8a1c0-170ecbe2">
                                    News &amp; advisories
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--1">
                                <a class="ign-footer__link ign-track" title="Industry sectors" data-test="industry-sectors-link" data-di-id="di-id-a07134ad-670a4c4c">
                                    Industry sectors
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--2">
                                <a class="ign-footer__link ign-track" title="Insights" data-test="insights-link" data-di-id="di-id-d9d40e54-a83082ec">
                                    Insights
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--3">
                                <a class="ign-footer__link ign-track" title="Logistics explained" data-test="logistics-explained-link" data-di-id="di-id-2f21bd96-5302072b">
                                    Logistics explained
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="ign-footer__links__column__row" data-test="column--2-row--1">
                        <div class="ign-footer__links__heading" data-test="footer-links-heading">Quick Links</div>
                        <ul class="ign-footer__links__ul" data-test="footer-links-list">
                            <li class="ign-footer__links__ul__li" data-test="list-item--0">
                                <a class="ign-footer__link ign-track" title="MyFinance" data-test="myfinance-link" data-di-id="di-id-a0a64741-8127e6a2">
                                    MyFinance
                                </a>
                            </li>
                            
                            <li class="ign-footer__links__ul__li" data-test="list-item--2">
                                <a class="ign-footer__link ign-track" title="Data Integrations" data-test="data-integrations-link" data-di-id="di-id-bd57226a-f459c58e">
                                    Data Integrations
                                </a>
                            </li>
                           
                            <li class="ign-footer__links__ul__li" data-test="list-item--4">
                                <a class="ign-footer__link ign-track" title="Emissions Dashboard" data-test="emissions-dashboard-link" data-di-id="di-id-aab8710d-ca4923ae">
                                    Emissions Dashboard
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /links -->
                <div class="ign-footer__links__column" data-test="footer-links-column--3">
                    <div class="ign-footer__links__column__row" data-test="column--3-row--0">
                        <div class="ign-footer__links__heading" data-test="footer-links-heading">About</div>
                        <ul class="ign-footer__links__ul" data-test="footer-links-list">
                            <li class="ign-footer__links__ul__li" data-test="list-item--0">
                                <a class="ign-footer__link ign-track" title="Careers" data-test="careers-link" data-di-id="di-id-d9d40e54-e6bd688d">
                                    Careers
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--1">
                                <a class="ign-footer__link ign-track" title="About us" data-test="about-us-link" data-di-id="di-id-d3ef8ef-742f9231">
                                    About us
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--2">
                                <a class="ign-footer__link ign-track" title="Investors" data-test="investors-link" target="_blank" rel="noreferrer" data-di-id="di-id-d3ef8ef-4874409b">
                                    Investors
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--3">
                                <a class="ign-footer__link ign-track" title="Procurement" data-test="procurement-link" data-di-id="di-id-21d45c9-a9eba843">
                                    Procurement
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--4">
                                <a class="ign-footer__link ign-track" title="Container sales" data-test="container-sales-link" target="_blank" rel="noreferrer " data-di-id="di-id-7fbcb3c5-ae3d8a28">
                                    Container sales
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--5">
                                <a class="ign-footer__link ign-track" title="Press" data-test="press-link" data-di-id="di-id-d3ef8ef-dcc45628">
                                    Press
                                </a>
                            </li>
                            <li class="ign-footer__links__ul__li" data-test="list-item--6">
                                <a class="ign-footer__link ign-track" title="Sustainability" data-test="sustainability-link" data-di-id="di-id-74bca5af-d12a4b0f">
                                    Sustainability
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <!-- /links -->
            </div>
            <div class="ign-footer__base" data-test="ign-footer-base">
                <div class="ign-footer__base__info" data-test="footer-base-info">
                   
                </div>
                
             *@</div>
            <!-- /base -->
        </div>
        <!-- /container -->
    </div>
    <div class="ign-footer__actions" data-test="footer-actions">

    </div>
    <!-- /actions -->
</footer>