<!DOCTYPE html>
<html lang="en" data-region="ea" data-version="1.0.9194.19268"  >
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Comprehensive Container Logistics and End-to-End Supply Chain Solutions</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta http-equiv="content-language" content="en">
        <link rel="shortcut icon" href="~/Assets/Assets_sc9/pages/favicon.ico" type="image/x-icon">
        <link href="~/Assets/Assets_sc9/pages/css/maeu-slim_v-1.0.9194.19268.20.css" rel="stylesheet" />
        <link href="~/Assets/Assets_sc9/pages/css/ma.css" rel="stylesheet" />
        <script type="text/javascript" src="~/Assets/integrated-global-nav/2/loader.js"></script>
        <script type="text/javascript" src="~/Assets/akam/13/2a78d214.js" defer></script>
        <script src="~/js/navigation.js"></script>
        <link href="~/css/master.css" rel="stylesheet" />
    <link href="~/assets/assets_sc9/pages/css/maeu-slim_v-1.0.9194.19268.20.css" rel="stylesheet" />
    <link href="~/assets/toast/css/jquery.toast.css" rel="stylesheet" />
    <link href="~/css/spinner.css" rel="stylesheet" />
   </head>
   <body class="">
       
       @Html.Partial("_Navigation")
      
      <div role="main" id="main">
        @RenderBody()

        @Html.Partial("_Footer")
      </div>
        <div id="overlay">
            <div class="cv-spinner">
                <span class="spinner"></span>
            </div>
        </div>

    </body>

</html>