.ign-header__promo:after {
    content: "";
    clear: both;
    display: table
}

.ign-footer,.ign-header__search__input,.ign-header__panel__menu__link,.ign-header__menu__link,.ign-header {
    font-family: "Maersk Text",-apple-system,BlinkMacSystemFont,"Microsoft JhengHei","Microsoft Yahei","å¾®è½¯é›…é»‘",STXihei,"åŽæ–‡ç»†é»‘",sans-serif;
    font-size: 16px;
    line-height: 22px
}

.ign-button {
    font-family: "Maersk Text",-apple-system,BlinkMacSystemFont,"Microsoft JhengHei","Microsoft Yahei","å¾®è½¯é›…é»‘",STXihei,"åŽæ–‡ç»†é»‘",sans-serif;
    font-size: 16px;
    line-height: 22px
}

.ign-banner,.ign-tag,.ign-header__search__results__result__url,.ign-header--beta .ign-header__panel--navigation:before,.ign-header__panel__menu__link--with--summary .link-summary,.ign-header__menu__link--with--summary .link-summary,.ign-header--beta .ign-header__logo:after,.ign-button--small {
    font-family: "Maersk Text",-apple-system,BlinkMacSystemFont,"Microsoft JhengHei","Microsoft Yahei","å¾®è½¯é›…é»‘",STXihei,"åŽæ–‡ç»†é»‘",sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 19px
}

.ign-header__panel__link {
    font-family: "Maersk Text",-apple-system,BlinkMacSystemFont,"Microsoft JhengHei","Microsoft Yahei","å¾®è½¯é›…é»‘",STXihei,"åŽæ–‡ç»†é»‘",sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px
}

.ign-header__panel__menu__close,.ign-header__panel__megamenu__close,.ign-header__panel__language,.ign-header__panel__close,.ign-header__megamenu__close,.ign-header__primary__link {
    font-family: "Maersk Text",-apple-system,BlinkMacSystemFont,"Microsoft JhengHei","Microsoft Yahei","å¾®è½¯é›…é»‘",STXihei,"åŽæ–‡ç»†é»‘",sans-serif;
    font-size: 16px;
    line-height: 22px
}

.ign-header__promo__title,.ign-header__search__results__result__title,.ign-header__search__start__heading,.ign-header__panel__primary__link,.ign-header__panel__link--heading {
    font-family: "Maersk Headline",-apple-system,BlinkMacSystemFont,"Microsoft JhengHei","Microsoft Yahei","å¾®è½¯é›…é»‘",STXihei,"åŽæ–‡ç»†é»‘",sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin: 0
}

.ign-push,.ign-push body {
    height: 100%
}

.ign-push body {
    display: flex;
    flex-direction: column
}

.ign-push main {
    flex: 1 0 auto
}

.ign-button {
    display: inline-block;
    background: #00233d;
    color: #fff;
    border: 1px solid rgba(0,0,0,0);
    text-decoration: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: none;
    transition: all ease .2s
}

.ign-button:hover {
    background: #003d6d;
    color: #fff;
    box-shadow: 0 3px 4px 0 rgba(20,20,20,.03),0 3px 3px -2px rgba(20,20,20,.03),0 1px 8px 0 rgba(20,20,20,.04)
}

.ign-button:focus {
    background: #003d6d;
    color: #fff;
    box-shadow: inset 0 0 0 2px #fff;
    outline: none
}

.ign-button:disabled {
    opacity: .5;
    cursor: not-allowed
}

.ign-button--block {
    width: 100%;
    text-align: center
}

.ign-button--muted {
    border-color: #00233d;
    color: #00233d;
    background: rgba(0,0,0,0)
}

.ign-button--muted:hover {
    border: 1px solid rgba(0,0,0,0)
}

.ign-button--small {
    padding: 5px 15px
}

.ign-button-secondary {
    padding: 6px 12px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    color: #141414;
    text-decoration: none;
    display: inline-flex;
    gap: 6px;
    font-size: 14px;
    line-height: 20px;
    transition: all ease .2s;
    background: #fff;
    align-items: center
}

.ign-button-secondary:hover {
    background: rgba(0,36,61,.14)
}

.ign-button-secondary:active {
    background: rgba(0,36,61,.22)
}

.ign-button-secondary:focus {
    outline: 2px solid #b5e0f5
}

.ign-button-secondary .ign-icon {
    width: 20px;
    height: 20px
}

.ign-button-primary {
    padding: 6px 12px;
    border: 1px solid #00243d;
    border-radius: 4px;
    background: #00243d;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    gap: 6px;
    font-size: 14px;
    line-height: 20px;
    transition: all ease .2s;
    align-items: center
}

.ign-button-primary:hover {
    background: #003d6d;
    border-color: #003d6d
}

.ign-button-primary:active {
    background: #141414;
    border-color: #141414
}

.ign-button-primary:focus {
    background: #00243d;
    border-color: #00243d;
    outline: 2px solid #b5e0f5
}

.ign-button-primary .ign-icon {
    width: 20px;
    height: 20px
}

.ign-button-plain {
    padding: 6px 12px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 4px;
    background: rgba(0,0,0,0);
    color: #141414;
    text-decoration: none;
    display: inline-flex;
    gap: 6px;
    font-size: 14px;
    line-height: 20px;
    transition: all ease .2s;
    align-items: center
}

.ign-button-plain:hover {
    background: rgba(0,36,61,.14)
}

.ign-button-plain:active {
    background: rgba(0,36,61,.22)
}

.ign-button-plain:focus {
    outline: 2px solid #b5e0f5
}

.ign-button-plain .ign-icon {
    width: 20px;
    height: 20px
}

@font-face {
    font-family: "Maersk Text";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("https://assets.maerskline.com/sharedfonts/maeu/text/MaerskText-Regular.eot?") format("eot"),url("https://assets.maerskline.com/sharedfonts/maeu/text/MaerskText-Regular.woff2") format("woff2"),url("https://assets.maerskline.com/sharedfonts/maeu/text/MaerskText-Regular.woff") format("woff")
}

@font-face {
    font-family: "Maersk Text";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("https://assets.maerskline.com/sharedfonts/maeu/text/MaerskText-Light.eot?") format("eot"),url("https://assets.maerskline.com/sharedfonts/maeu/text/MaerskText-Light.woff2") format("woff2"),url("https://assets.maerskline.com/sharedfonts/maeu/text/MaerskText-Light.woff") format("woff")
}

@font-face {
    font-family: "Maersk Headline";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("https://assets.maerskline.com/sharedfonts/maeu/headline/MaerskHeadline-Regular.eot?") format("eot"),url("https://assets.maerskline.com/sharedfonts/maeu/headline/MaerskHeadline-Regular.woff2") format("woff2"),url("https://assets.maerskline.com/sharedfonts/maeu/headline/MaerskHeadline-Regular.woff") format("woff")
}

@font-face {
    font-family: "Maersk Headline";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("https://assets.maerskline.com/sharedfonts/maeu/headline/MaerskHeadline-Light.eot?") format("eot"),url("https://assets.maerskline.com/sharedfonts/maeu/headline/MaerskHeadline-Light.woff2") format("woff2"),url("https://assets.maerskline.com/sharedfonts/maeu/headline/MaerskHeadline-Light.woff") format("woff")
}

.ign-header,.ign-header * {
    box-sizing: border-box
}

.ign-lock {
    overflow-x: initial;
    overflow: hidden
}

.ign-lock body {
    overflow: hidden
}

.ign-highlight {
    font-weight: bold
}

.ign-pip {
    background: #0073ab;
    transition: opacity .2s;
    width: 8px;
    height: 8px;
    border-radius: 50%
}

.ign-pip--hide {
    opacity: 0
}

.ign-badge {
    background: #0073ab;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    min-width: 13px;
    padding: 0 5px;
    text-align: center;
    transition: opacity .2s;
    border-radius: 10px;
    position: absolute;
    top: 2px;
    left: 20px;
    z-index: 1;
    opacity: 0
}

.ign-badge--active {
    opacity: 1
}

.ign-header {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .3s;
    height: 62px;
    z-index: 100;
    color: #141414;
    padding: 0 16px;
    letter-spacing: normal
}

.ign-lock .ign-header {
    z-index: 1001
}

@media(min-width: 700px) {
    .ign-header {
        padding:0 24px
    }
}

@media(min-width: 1000px) {
    .ign-header {
        height:86px
    }
}

@media(min-width: 1400px) {
    .ign-header {
        margin:0
    }
}

.ign-header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transition: transform .3s;
    border-bottom: 1px solid #ededed;
    transform-origin: 0 0;
    backdrop-filter: none
}

.ign-header--hidden {
    transform: translateY(-100%);
    box-shadow: none
}

.ign-header--hidden:before {
    transform: translateY(-1px)
}

.ign-header--fast:before {
    transition-property: opacity;
    transform: translateY(0) translateZ(0);
    opacity: 1
}

.ign-header--fast.ign-header--transparent:before {
    opacity: 0
}

.ign-header .ign-icon {
    width: 24px;
    height: 24px;
    display: block
}

.ign-header .ign-icon__fill {
    fill: #141414
}

.ign-header__hr {
    height: 0;
    background: rgba(0,0,0,0);
    border: 0;
    border-bottom: 2px solid #ededed;
    margin: 20px 0
}

.ign-header__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 62px
}

@media(min-width: 1000px) {
    .ign-header__container {
        height:86px
    }
}

.ign-spread .ign-header__container {
    max-width: none
}

.ign-header__skeleton-item {
    margin: 0 15px 0 25px;
    width: 50px;
    height: 24px;
    background: #ededed;
    border-radius: 20px;
    text-indent: -12000px
}

@media(min-width: 0px)and (max-width: 1199px) {
    .ign-header__skeleton-item--line {
        display:none
    }
}

.ign-header__skeleton-item--long {
    width: 75px
}

.ign-header__skeleton-item--icon {
    width: 24px;
    margin: 0 0 0 16px
}

@media(min-width: 1000px) {
    .ign-header__skeleton-item--icon {
        margin-left:34px
    }
}

.ign-header__skeleton-item--push {
    margin-left: auto
}

.ign-header__error {
    margin-left: auto
}

.ign-header__error__label {
    transition: .2s color
}

@media(min-width: 0px)and (max-width: 699px) {
    .ign-header__error__label {
        display:none
    }
}

.ign-header__error .ign-button {
    margin-left: 15px
}

.ign-header--transparent .ign-header__error {
    color: #fff
}

.ign-header__primary {
    display: none
}

.ign-header__primary--icon {
    display: block
}

@media(min-width: 1200px) {
    .ign-header--hide-burger-on-desktop .ign-header__primary--menu {
        display:none
    }
}

@media(min-width: 0px)and (max-width: 699px) {
    .ign-header__primary--push-s {
        margin-left:auto
    }

    .ign-header__primary--language {
        display: none
    }

    .ign-header__primary .ign-mobile-hide {
        display: none
    }
}

@media(min-width: 700px)and (max-width: 1199px) {
    .ign-header__primary--push-m {
        margin-left:auto
    }

    .ign-header__primary--language {
        display: none
    }
}

@media(min-width: 1200px) {
    .ign-header__primary {
        display:block
    }

    .ign-header__primary--language {
        display: block
    }

    .ign-header__primary--push-l {
        margin-left: auto
    }
}

.ign-header__primary__wrapper {
    position: relative;
    padding: 25px 0
}

.ign-header__primary--megamenu .ign-header__primary__wrapper {
    position: initial
}

.ign-header__primary__link {
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 4px;
    margin: 0 3px;
    display: block;
    transform: translateZ(0);
    transition: color .2s,background .2s;
    color: #141414
}

.ign-header__primary__link--pip {
    padding-right: 22px
}

.ign-header__primary__link--dropdown,.ign-header__primary__link--megamenu {
    padding-right: 32px
}

.ign-header__primary__link--dropdown:after,.ign-header__primary__link--megamenu:after {
    right: 10px
}

.ign-header__primary__link--icon {
    padding: 6px 6px
}

.ign-header__primary__link--dropdown.ign-header__primary__link--icon,.ign-header__primary__link--megamenu.ign-header__primary__link--icon {
    padding-right: 28px
}

.ign-header__primary__link .ign-icon__fill {
    fill: #141414;
    transition: fill .2s
}

.ign-header__primary__link .ign-icon__stroke {
    stroke: #141414;
    transition: stroke .2s
}

.ign-header__primary__link:hover {
    color: #141414;
    background: #ededed
}

.ign-header__primary__link:hover .ign-icon__fill {
    fill: #141414
}

.ign-header__primary__link:hover .ign-icon__stroke {
    stroke: #141414
}

.ign-header__primary__link:active {
    background: #ededed
}

.ign-header__primary__link--dropdown .ign-icon--caret,.ign-header__primary__link--megamenu .ign-icon--caret {
    position: absolute;
    top: calc(50% + 2px);
    right: 8px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%)
}

.ign-header__primary__link .ign-pip {
    top: 50%;
    right: 10px;
    position: absolute;
    transform: translateY(-50%);
    margin-top: -6px
}

.ign-header__primary__link .ign-pip--hide {
    opacity: 0
}

.ign-header__primary__link--dropdown .ign-pip,.ign-header__primary__link--megamenu .ign-pip {
    right: 3px
}

.ign-header__primary__link--icon .ign-pip {
    right: 7px
}

.ign-header__primary__wrapper--active .ign-header__primary__link {
    color: #141414;
    background: #ededed
}

.ign-header__logo {
    transition: width .3s
}

.ign-header__logo .ign-logo {
    height: auto;
    display: block;
    width: 140px;
    max-height: 45px
}

.ign-header__logo .ign-logo__fill {
    fill: #141414;
    transition: fill .2s
}

.ign-header__logo .ign-logo__highlight {
    fill: #141414;
    transition: fill .2s
}

@media(min-width: 700px) {
    .ign-header__logo {
        margin-right:12px
    }

    .ign-header__logo .ign-logo {
        width: 175px
    }
}

.ign-header--beta .ign-header__logo:after {
    display: none;
    content: "Beta";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: underline;
    border-radius: 20px;
    border: 1px solid #141414;
    color: #141414;
    padding: 6px 12px 6px 12px;
    transition: all .2s
}

@media(min-width: 700px) {
    .ign-header--beta .ign-header__logo:after {
        font-size:16px;
        line-height: 16px
    }
}

@media(min-width: 360px) {
    .ign-header--beta .ign-header__logo {
        padding-right:65px;
        position: relative
    }

    .ign-header--beta .ign-header__logo:after {
        display: block
    }
}

@media(min-width: 700px) {
    .ign-header--beta .ign-header__logo {
        padding-right:75px
    }
}

.ign-header--beta .ign-header__logo:after {
    text-decoration: none
}

.ign-header--transparent {
    /*background: linear-gradient(to bottom, rgb(40, 40, 40) 0%, rgba(40, 40, 40, 0) 100%)*/
    /*background: linear-gradient(to bottom, rgb(255 202 36) 0%, rgb(255 145 3) 100%);*/
    background: linear-gradient(to bottom, rgb(197 212 255) 0%, rgb(21 27 101) 100%);
}

.ign-header--transparent:before {
    transform: scaleY(0)
}

.ign-header--no-gradient {
    background: none
}

.ign-header--transparent .ign-header__logo:after {
    color: #fff;
    border-color: #fff
}

.ign-header--transparent .ign-header__primary__link {
    color: rgba(255,255,255,.9)
}

.ign-header--transparent .ign-header__primary__link:hover {
    color: #fff;
    background: rgba(255,255,255,.2)
}

.ign-header--transparent .ign-header__primary__link:active {
    background: rgba(255,255,255,.2)
}

.ign-header--transparent .ign-header__primary .ign-icon__fill {
    fill: #fff
}

.ign-header--transparent .ign-header__primary .ign-icon__stroke {
    stroke: #fff
}

.ign-header--transparent .ign-header__primary__wrapper--active .ign-header__primary__link {
    background: rgba(255,255,255,.2)
}

.ign-header--transparent .ign-header__skeleton-item {
    background-color: rgba(255,255,255,.1)
}

.ign-header--transparent .ign-header__logo .ign-logo__fill {
    fill: #fff
}

.ign-header--transparent .ign-header__logo .ign-logo__highlight {
    fill: #141414
}

.ign-header__megamenu {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    right: 0;
    background: #fff;
    color: #141414;
    border-bottom: 1px solid #cfcfcf;
    transition: all ease .3s;
    visibility: hidden;
    opacity: 0;
    max-height: calc(100vh - 86px);
    overflow: auto;
    padding: 16px 16px;
    overflow-x: hidden;
    overflow-y: auto
}

.ign-with-banner .ign-header__megamenu {
    max-height: calc(100vh - 126px)
}

@media(min-width: 700px) {
    .ign-header__megamenu {
        padding:0 24px
    }
}

.ign-header__megamenu--active {
    opacity: 1;
    visibility: visible
}

.ign-header__megamenu__top {
    display: flex;
    margin-bottom: 8px;
    position: absolute;
    top: 12px;
    left: 0;
    right: 15px;
    z-index: 1
}

.ign-header__megamenu__close {
    margin-left: auto;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #141414
}

.ign-header__megamenu__close .ign-icon {
    margin: 4px 0 0 6px
}

.ign-header__megamenu__container {
    max-width: 1280px;
    margin: 0 auto;
    position: relative
}

.ign-header__megamenu__container--with--features:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100vw;
    background-color: #f7f7f7
}

.ign-header__megamenu__groups {
    display: flex;
    flex-direction: column
}

.ign-header__megamenu__groups__group+.ign-header__megamenu__groups__group {
    margin-top: 32px
}

.ign-header__megamenu__groups__group--features {
    padding: 20px 0;
    position: relative;
    transform: translateZ(0)
}

.ign-header__megamenu__groups__group--features:before {
    content: "";
    background: #f7f7f7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100px;
    right: -100px;
    height: 100%;
    z-index: -1
}

@media(min-width: 1200px) {
    .ign-header__megamenu__groups {
        flex-direction:row;
        gap: 32px
    }

    .ign-header__megamenu__groups__group {
        flex: 1;
        padding: 24px 0 32px 0
    }

    .ign-header__megamenu__groups__group+.ign-header__megamenu__groups__group {
        margin-top: 0
    }

    .ign-header__megamenu__groups__group--features {
        padding-left: 32px;
        flex-basis: 40%;
        flex-grow: initial;
        background-color: #f7f7f7
    }

    .ign-header__megamenu__groups__group--features:before {
        display: none
    }
}

.ign-header__megamenu__row {
    display: flex;
    gap: 32px
}

.ign-header__megamenu__col {
    flex: 1
}

.ign-header__megamenu__heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: 1px solid #cfcfcf
}

.ign-header__megamenu__ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.ign-header__megamenu__ul+.ign-header__megamenu__ul {
    margin-top: 32px
}

.ign-header__megamenu__ul__li {
    position: relative
}

.ign-header__megamenu__ul__li+.ign-header__megamenu__ul__li {
    margin-top: 14px
}

.ign-header__megamenu__cta {
    text-decoration: none;
    line-height: 24px;
    display: block;
    color: #141414
}

.ign-header__megamenu__cta:hover {
    text-decoration: underline
}

.ign-header__megamenu__cta .ign-icon {
    display: inline-block;
    vertical-align: middle;
    transform: scale(0.8, 0.8)
}

.ign-header__megamenu__link {
    color: #141414;
    text-decoration: none;
    line-height: 24px;
    font-weight: 500;
    display: block;
    position: relative
}

.ign-header__megamenu__ul__li--with--icon .ign-header__megamenu__link {
    padding-left: 44px
}

.ign-header__megamenu__link:is(a):hover {
    text-decoration: underline
}

.ign-header__megamenu__link .link-summary {
    text-decoration: none !important;
    color: #767676;
    font-size: 14px;
    line-height: 20px;
    margin-top: 3px;
    font-weight: normal;
    display: inline-block;
    width: 100%
}

.ign-header__megamenu__link .ign-icon {
    position: absolute;
    top: -3px;
    left: 0;
    width: 32px;
    height: 32px
}

.ign-header__megamenu__actions {
    border-top: 1px solid #cfcfcf;
    padding: 10px 24px;
    margin: 0 -24px
}

.ign-header__megamenu__actions__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 10px
}

.ign-header__megamenu__features__actions {
    margin-top: 20px;
    display: flex;
    gap: 12px
}

.ign-header__menu {
    background: #fff;
    color: #141414;
    border-radius: 2px;
    box-shadow: 0 0 50px rgba(20,20,20,.1);
    border: 1px solid #ededed;
    position: absolute;
    top: 100%;
    left: 3px;
    padding: 24px;
    width: 400px;
    visibility: hidden;
    opacity: 0;
    transition: all ease .2s;
    transform: translateY(-20px)
}

.ign-header__menu--open {
    visibility: visible;
    opacity: 1
}

.ign-header__menu--right {
    left: auto;
    right: 3px
}

.ign-header__menu--language {
    width: 250px
}

.ign-header__menu__close {
    position: absolute;
    top: 28px;
    right: 28px;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    z-index: 1;
    cursor: pointer
}

@media(min-width: 1200px) {
    .ign-header__menu__close {
        display:none
    }
}

.ign-header__menu__link {
    color: #141414;
    text-decoration: none;
    padding: 0;
    display: block;
    position: relative;
    cursor: pointer;
    border: 0;
    background-color: rgba(0,0,0,0)
}

.ign-header__menu__link:hover {
    color: #141414;
    text-decoration: underline
}

.ign-header__menu__link--active {
    color: #0073ab;
    text-decoration: underline
}

.ign-header__menu__link--active:hover {
    color: #0073ab
}

.ign-header__menu__link--subheading {
    margin-left: -6px;
    font-size: .9em;
    color: #878787;
    cursor: default
}

.ign-header__menu__link--subheading:hover {
    text-decoration: none;
    color: #878787
}

.ign-header__menu__link+.ign-header__menu__link {
    margin-top: 8px
}

.ign-header__menu__link+.ign-header__menu__link--subheading {
    margin-top: 24px
}

.ign-header__menu__link--with--icon {
    position: relative;
    padding-left: 33px
}

.ign-header__menu__link--with--icon .ign-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0px;
    left: 0
}

.ign-header__menu__link--with--summary:not(:last-child) {
    margin-bottom: 12px
}

.ign-header__menu__link--with--summary .link-summary {
    display: inline-block;
    width: 100%;
    color: #767676
}

.ign-header__menu__badge {
    position: absolute;
    top: 0;
    right: 1px;
    font-style: normal;
    background: #00243d;
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 22px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px
}

.ign-header .ign-delay {
    transition: opacity .3s;
    opacity: 0
}

.ign-header .ign-delay--1 {
    transition-delay: .1s
}

.ign-header .ign-delay--2 {
    transition-delay: .2s
}

.ign-header .ign-delay--3 {
    transition-delay: .3s
}

.ign-header .ign-delay--4 {
    transition-delay: .4s
}

.ign-header .ign-delay--5 {
    transition-delay: .5s
}

.ign-header__panel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    color: #141414;
    box-shadow: 0 0 50px rgba(20,20,20,.1);
    padding: 80px 16px 0 16px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all ease .3s;
    transform: translateX(100px);
    z-index: 102;
    overflow: auto;
    overflow-x: hidden
}

.ign-header__panel:after {
    content: "";
    display: block;
    height: 16px
}

@media(min-width: 700px) {
    .ign-header__panel {
        padding:90px 84px 0 84px;
        width: 780px;
        transform: translateX(100px)
    }

    .ign-header__panel:after {
        height: 80px
    }

    .ign-header__panel .ign-tablet-hide {
        display: none
    }
}

@media(min-width: 1200px) {
    .ign-header__panel {
        padding:90px 104px 0 104px;
        width: 917px
    }

    .ign-header__panel .ign-desktop-hide {
        display: none
    }
}

.ign-header__panel--search {
    padding-top: 16px
}

.ign-header__panel--locked {
    overflow: hidden
}

.ign-header__panel--open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0)
}

.ign-header__panel--open .ign-delay {
    transform: translateX(0);
    opacity: 1
}

.ign-header__panel__close {
    position: absolute;
    top: 24px;
    right: 16px;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #141414
}

@media(min-width: 700px) {
    .ign-header__panel__close {
        top:24px;
        right: 84px
    }
}

@media(min-width: 1200px) {
    .ign-header__panel__close {
        right:104px
    }
}

.ign-header__panel__close .ign-icon {
    margin: 4px 0 0 6px
}

.ign-header__panel__link {
    color: #141414;
    display: block;
    text-decoration: none
}

.ign-header__panel__link:hover {
    color: #141414;
    text-decoration: underline
}

.ign-header__panel__link+.ign-header__panel__link {
    margin-top: 8px
}

.ign-header__panel__link--with--icon {
    position: relative;
    padding-left: 28px
}

.ign-header__panel__link--with--icon .ign-icon {
    position: absolute;
    top: -2px;
    left: 0
}

.ign-header__panel__link--heading {
    margin-bottom: 6px;
    color: #141414
}

.ign-header__panel__link--heading:hover {
    color: #141414
}

.ign-header__panel__link--with--icon.ign-header__panel__link--heading {
    padding-left: 35px
}

.ign-header__panel__link--with--icon.ign-header__panel__link--heading .ign-icon {
    top: 2px
}

@media(min-width: 0px)and (max-width: 699px) {
    .ign-header__panel__columns__column+.ign-header__panel__columns__column {
        margin-top:36px
    }
}

@media(min-width: 700px) {
    .ign-header__panel__columns {
        display:flex;
        margin: 0 -20px
    }

    .ign-header__panel__columns__column {
        flex: 1;
        padding: 0 20px
    }
}

.ign-header__panel__list+.ign-header__panel__list {
    margin-top: 28px
}

.ign-header__panel__primary {
    margin-bottom: 32px
}

@media(min-width: 0px)and (max-width: 1199px) {
    .ign-header__panel__primary {
        padding-bottom:24px
    }
}

@media(min-width: 700px)and (max-width: 1199px) {
    .ign-header__panel__primary {
        margin-bottom:40px;
        padding-bottom: 32px
    }
}

@media(min-width: 1200px) {
    .ign-header__panel__primary {
        display:none
    }
}

.ign-header__panel__primary__link {
    position: relative;
    display: block;
    color: #141414;
    text-decoration: none;
    padding-right: 35px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #dbdbdb
}

.ign-header__panel__primary__link:last-child {
    margin-bottom: 0;
    border-bottom: 0
}

.ign-header__panel__primary__link:hover {
    text-decoration: underline;
    color: #141414
}

.ign-header__panel__primary__link .ign-icon {
    position: absolute;
    right: 0;
    top: 2px
}

.ign-header__panel__primary__link .ign-icon__fill {
    fill: #141414
}

.ign-header__panel__primary__link .ign-pip {
    display: inline-block;
    vertical-align: top
}

.ign-header__panel__language {
    position: absolute;
    top: 24px;
    left: 16px;
    display: block;
    border: 0;
    background: none;
    color: #141414;
    text-decoration: none;
    padding: 0 25px 0 0
}

.ign-header__panel__language:hover {
    color: #141414
}

@media(min-width: 700px) {
    .ign-header__panel__language {
        top:24px;
        left: 84px
    }
}

@media(min-width: 1200px) {
    .ign-header__panel__language {
        left:104px
    }
}

@media(min-width: 1200px) {
    .ign-header__panel__language {
        display:none
    }
}

.ign-header__panel__language .ign-icon--caret {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px
}

.ign-header__panel__language .ign-icon__fill {
    fill: #141414
}

.ign-header__panel__megamenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1;
    transition: all .3s;
    visibility: hidden;
    opacity: 0;
    overflow: auto;
    padding: 80px 0
}

@media(min-width: 700px) {
    .ign-header__panel__megamenu {
        padding:84px 0
    }
}

@media(min-width: 1200px) {
    .ign-header__panel__megamenu {
        padding:104px 0
    }
}

.ign-header__panel__megamenu__container {
    overflow: hidden;
    padding: 0 16px
}

@media(min-width: 700px) {
    .ign-header__panel__megamenu__container {
        padding:0 84px
    }
}

@media(min-width: 1200px) {
    .ign-header__panel__megamenu__container {
        padding:0 104px
    }
}

.ign-header__panel__megamenu--open {
    visibility: visible;
    opacity: 1
}

@media(min-width: 1200px) {
    .ign-header__panel__megamenu {
        display:none !important
    }
}

.ign-header__panel__megamenu__top {
    margin-bottom: 24px
}

.ign-header__panel__megamenu__close {
    position: absolute;
    top: 24px;
    right: 16px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer
}

@media(min-width: 700px) {
    .ign-header__panel__megamenu__close {
        right:84px
    }
}

.ign-header__panel__megamenu__close .ign-icon {
    margin: 4px 6px 0 6px
}

.ign-header__panel__megamenu ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.ign-header__panel__megamenu ul li+li {
    margin-top: 10px
}

.ign-header__panel__megamenu ul+ul {
    margin-top: 32px
}

.ign-header__panel__megamenu__row {
    display: flex;
    flex-direction: column;
    gap: 24px;
    row-gap: 32px
}

@media(min-width: 1000px) {
    .ign-header__panel__megamenu__row {
        flex-direction:row;
        flex-wrap: wrap
    }
}

@media(min-width: 1000px) {
    .ign-header__panel__megamenu__col {
        flex-basis:calc(50% - 12px)
    }
}

.ign-header__panel__megamenu__actions {
    border-top: 1px solid #cfcfcf;
    padding-top: 16px;
    margin-top: -1px
}

.ign-header__panel__megamenu__actions__container {
    display: flex;
    gap: 10px;
    padding: 0 16px
}

@media(min-width: 700px) {
    .ign-header__panel__megamenu__actions__container {
        padding:0 84px
    }
}

@media(min-width: 1200px) {
    .ign-header__panel__megamenu__actions__container {
        padding:0 104px
    }
}

.ign-header__panel__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 80px 16px 20px 16px;
    background: #fff;
    z-index: 1;
    transition: all .3s;
    visibility: hidden;
    opacity: 0;
    overflow: auto
}

@media(min-width: 700px) {
    .ign-header__panel__menu {
        padding:84px 84px 20px 84px
    }
}

@media(min-width: 1200px) {
    .ign-header__panel__menu {
        padding-left:104px;
        padding-right: 104px
    }
}

.ign-header__panel__menu--open {
    visibility: visible;
    opacity: 1
}

@media(min-width: 1200px) {
    .ign-header__panel__menu {
        display:none !important
    }
}

.ign-header__panel__menu__close {
    position: absolute;
    top: 24px;
    right: 16px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer
}

@media(min-width: 700px) {
    .ign-header__panel__menu__close {
        right:84px
    }
}

.ign-header__panel__menu__close .ign-icon {
    margin: 4px 6px 0 6px
}

.ign-header__panel__menu__link {
    display: block;
    color: #141414;
    text-decoration: none;
    position: relative;
    padding: 0;
    border: 0;
    background-color: rgba(0,0,0,0)
}

.ign-header__panel__menu__link:hover {
    color: #141414;
    text-decoration: underline
}

.ign-header__panel__menu__link+.ign-header__panel__menu__link {
    margin-top: 12px
}

.ign-header__panel__menu__link--active {
    color: #0073ab;
    text-decoration: underline
}

.ign-header__panel__menu__link--subheading {
    margin-left: -6px;
    font-size: .9em;
    color: #878787;
    cursor: default
}

.ign-header__panel__menu__link--subheading:hover {
    color: #878787;
    text-decoration: none
}

.ign-header__panel__menu__link+.ign-header__panel__menu__link--subheading {
    margin-top: 24px
}

.ign-header__panel__menu__link--with--icon {
    position: relative;
    padding-left: 33px
}

.ign-header__panel__menu__link--with--icon .ign-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0px;
    left: 0
}

.ign-header__panel__menu__link--with--summary:not(:last-child) {
    margin-bottom: 12px
}

.ign-header__panel__menu__link--with--summary .link-summary {
    display: inline-block;
    width: 100%;
    color: #767676
}

.ign-header__panel__menu__badge {
    position: absolute;
    top: 0;
    right: 1px;
    font-style: normal;
    background: #00243d;
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 22px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px
}

.ign-header--beta .ign-header__panel--navigation:before {
    display: none;
    content: "Beta";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: underline;
    border-radius: 20px;
    border: 1px solid #141414;
    color: #141414;
    padding: 6px 12px 6px 12px;
    transition: all .2s
}

@media(min-width: 700px) {
    .ign-header--beta .ign-header__panel--navigation:before {
        font-size:16px;
        line-height: 16px
    }
}

@media(min-width: 0px)and (max-width: 359px) {
    .ign-header--beta .ign-header__panel--navigation:before {
        display:block;
        transform: none;
        top: 26px;
        left: 16px;
        right: auto;
        text-decoration: none
    }
}

@media(min-width: 0px)and (max-width: 359px) {
    .ign-header--beta .ign-header__panel__language {
        left:85px
    }
}

.ign-header__account {
    margin: 0 20px 0 40px
}

@media(min-width: 700px) {
    .ign-header__account {
        margin:0
    }
}

.ign-header__account__link {
    display: block;
    text-decoration: none;
    color: #141414;
    position: relative
}

.ign-header__account__link:hover {
    color: #141414
}

.ign-header__account__link+.ign-header__account__link {
    margin-top: 20px
}

.ign-header__account__link--href:hover {
    text-decoration: underline
}

.ign-header__account__link__label {
    color: #878787;
    margin-bottom: 2px
}

.ign-header__account__link .ign-icon {
    position: absolute;
    top: -1px;
    left: -38px
}

.ign-header__account__link .ign-icon__fill {
    fill: #141414
}

.ign-header__search__header {
    position: relative;
    border-radius: 20px;
    transform: translateZ(0);
    margin: 0 130px 32px 0;
    background-color: rgba(0,0,0,0)
}

@media(min-width: 700px) {
    .ign-header__search__header {
        margin-bottom:64px
    }
}

.ign-header__search__clear {
    position: absolute;
    top: 12px;
    right: 16px;
    border: 0;
    padding: 0;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    display: none
}

.ign-header__search__clear--open {
    display: block
}

.ign-header__search__icon {
    position: absolute;
    top: 12px;
    left: 16px;
    z-index: -1
}

.ign-header__search__input {
    width: 100%;
    padding: 12px 20px 12px 50px;
    border-radius: 25px;
    color: #141414;
    overflow: hidden;
    background: rgba(0,0,0,0);
    border: 1px solid #ccc;
    transition: border-color .2s;
    box-shadow: none;
    -webkit-appearance: none
}

.ign-header__search__input:focus {
    outline: none;
    border-color: #cfcfcf
}

.ign-header__search__input::-ms-clear {
    display: none
}

.ign-header__search__start--hidden {
    display: none
}

.ign-header__search__start__heading {
    margin-bottom: 12px
}

.ign-header__search__start__link {
    color: #141414;
    text-decoration: none;
    display: block
}

.ign-header__search__start__link:hover {
    color: #141414;
    text-decoration: underline
}

.ign-header__search__start__link+.ign-header__search__start__link {
    margin-top: 12px
}

.ign-header__search__start__list {
    position: relative
}

.ign-header__search__start__list+.ign-header__search__start__list {
    margin-top: 32px
}

.ign-header__search__start__icon {
    position: absolute;
    top: 0;
    left: 0
}

.ign-header__search__skeleton,.ign-header__search__error,.ign-header__search__empty {
    display: none
}

.ign-header__search__skeleton--open,.ign-header__search__error--open,.ign-header__search__empty--open {
    display: block
}

.ign-header__search__error,.ign-header__search__empty {
    margin-bottom: 20px
}

.ign-header__search__skeleton__total {
    height: 20px;
    background: #ededed;
    border-radius: 5px;
    max-width: 150px;
    margin-bottom: 24px;
    margin-left: auto
}

.ign-header__search__skeleton__line {
    height: 20px;
    background: #ededed;
    border-radius: 5px;
    max-width: 90%
}

.ign-header__search__skeleton__line--large {
    height: 30px;
    max-width: 70%
}

.ign-header__search__skeleton__line--short {
    max-width: 50%
}

.ign-header__search__skeleton__line+.ign-header__search__skeleton__line {
    margin-top: 12px
}

.ign-header__search__skeleton__item+.ign-header__search__skeleton__item {
    margin-top: 32px
}

.ign-header__search__results {
    display: none
}

.ign-header__search__results--open {
    display: block
}

.ign-header__search__results__total {
    text-align: right;
    color: #141414;
    margin-bottom: 24px
}

.ign-header__search__results__all {
    display: block;
    padding: 8px 0;
    width: 100%;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    margin-top: 32px;
    border: 2px solid #ededed;
    color: #141414;
    background-color: rgba(0,0,0,0);
    transition: border-color .2s
}

.ign-header__search__results__all:hover {
    border-color: #cfcfcf;
    color: #141414;
    background-color: rgba(0,0,0,0)
}

.ign-header__search__results__result {
    display: block;
    text-decoration: none;
    color: #141414
}

.ign-header__search__results__result+.ign-header__search__results__result {
    margin-top: 32px
}

.ign-header__search__results__result__title {
    margin-bottom: 4px;
    color: #141414
}

.ign-header__search__results__result__url {
    color: #0073ab;
    margin-bottom: 8px
}

.ign-header__search__results__result:hover .ign-header__search__results__result__url {
    text-decoration: underline
}

.ign-header__promo {
    margin-top: 36px;
    padding: 16px;
    max-width: 604px;
    background: #f7f7f7;
    color: #141414
}

@media(min-width: 700px) {
    .ign-header__promo {
        padding:32px
    }
}

.ign-header__promo--hidden {
    opacity: 0;
    visibility: hidden
}

.ign-header__promo__title {
    color: #141414;
    margin-bottom: 8px
}

.ign-header__promo__text {
    margin: 0 0 16px 0
}

.ign-header__promo__img {
    max-width: 100%;
    margin: 0 auto 16px auto
}

@media(min-width: 700px) {
    .ign-header__promo__img {
        width:160px;
        float: right;
        margin: 0 0 0 32px
    }
}

.ign-header__mask {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(20,20,20,.75);
    visibility: hidden;
    opacity: 0;
    transition: opacity ease .3s
}

.ign-header__mask--megamenu {
    z-index: -1;
    top: 87px
}

.ign-with-banner .ign-header__mask--megamenu {
    top: 127px
}

.ign-header__mask--open {
    visibility: visible;
    opacity: 1
}

.ign-header__skip {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    overflow: hidden
}

.ign-header__skip:focus {
    display: block;
    opacity: 1;
    z-index: 1;
    width: 100%;
    height: auto;
    line-height: 86px;
    height: 86px;
    background: #f7f7f7;
    color: #0073ab;
    text-align: center;
    outline: none
}

.ign-tag {
    display: inline-block;
    text-align: center;
    background: #d3ecf9;
    color: #141414;
    border-radius: 15px;
    padding: 2px 8px;
    margin-left: 8px
}

.ign-footer .ign-tag {
    background: #d3ecf9;
    color: #141414
}

.ign-banner+.ign-header,.ign-banner+.ign-header__skip {
    top: 40px
}

@media print {
    .ign-header {
        display: none !important
    }

    #main,.ign-with-banner #main {
        margin-top: 0 !important
    }
}

.ign-coach-highlight {
    background: #0073ab !important;
    color: #fff !important;
    fill: #fff
}

.ign-coach-highlight:after {
    display: none
}

.ign-coach-highlight:hover {
    background: #0073ab;
    color: #fff !important;
    fill: #fff
}

.ign-coach-highlight .ign-icon__fill {
    fill: #fff !important
}

.ign-coach-highlight+.ign-header__menu {
    display: none !important
}

@media(forced-colors: active) {
    .ign-icon,#Text {
        filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(346deg) brightness(119%) contrast(117%)
    }

    .ign-header--transparent .ign-icon,.ign-header--transparent #Text {
        filter: none
    }

    .ign-header--transparent .ign-header__panel .ign-icon,.ign-header--transparent .ign-header__menu .ign-icon {
        filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(346deg) brightness(119%) contrast(117%)
    }

    .ign-tag {
        border-style: solid;
        border-color: #fff
    }
}

.ign-footer,.ign-footer * {
    box-sizing: border-box
}

.ign-footer {
    margin-top: auto;
    border-top: 1px solid #ededed;
    background: #fff;
    color: #141414;
    letter-spacing: normal
}

.ign-footer__main {
    padding: 32px 16px 80px 16px
}

.ign-footer a {
    color: #141414;
    text-decoration: none;
    line-height: 24px
}

.ign-footer a:hover {
    text-decoration: underline
}

.ign-footer__container {
    max-width: 1280px;
    margin: 0 auto
}

.ign-footer__base {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 48px
}

.ign-footer__base__info {
    display: flex
}

.ign-footer__copyright__text {
    margin-top: 12px
}

.ign-footer__social__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 24px;
    align-items: center
}

.ign-footer__social__links {
    display: flex;
    gap: 12px
}

.ign-footer__social__link {
    display: inline-block;
    color: #141414;
    text-decoration: none;
    padding: 0;
    align-self: center;
    font-size: 0;
    line-height: 0 !important
}

.ign-footer__social__link:hover {
    text-decoration: underline
}

.ign-footer__apps {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.ign-footer__apps__app {
    display: block;
    height: 40px
}

.ign-footer__apps__app img {
    display: block
}

.ign-footer__apps__app__link {
    display: inline-block
}

.ign-footer__links__ul {
    list-style: none;
    padding: 4px 0;
    margin: 8px 0 24px 0
}

.ign-footer__links__ul+.ign-footer__links__ul {
    margin-top: 32px
}

.ign-footer__links__ul__li {
    position: relative
}

.ign-footer__links__ul__li:not(:last-child) {
    margin-bottom: 8px
}

.ign-footer__links__heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 8px
}

.ign-footer__links__cta {
    display: flex;
    gap: 4px;
    align-items: center;
    padding-top: 8px
}

.ign-footer__links__cta .ign-icon {
    width: 20px;
    height: 20px;
    padding-top: 2px
}

.ign-footer__actions {
    border-top: 1px solid #cfcfcf;
    background: #f7f7f7
}

.ign-footer__actions__container {
    display: flex;
    padding: 16px
}

.ign-footer__actions__link {
    border: 1px solid #cfcfcf;
    width: 100%;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    line-height: 20px !important
}

.ign-footer__actions__link:hover {
    text-decoration: none !important
}

@media(min-width: 0px)and (max-width: 699px) {
    .ign-footer__main {
        padding-bottom:32px
    }

    .ign-footer__base__info {
        flex-direction: column;
        gap: 32px
    }

    .ign-footer__copyright {
        order: 3
    }

    .ign-footer__apps {
        order: 2;
        flex-direction: row
    }

    .ign-footer__social {
        order: 1;
        width: fit-content
    }

    .ign-footer__social__container {
        align-items: flex-start
    }

    .ign-footer__social__link {
        display: block
    }

    .ign-footer__actions__container {
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        align-items: center
    }
}

.ign-footer__link {
    display: block
}

.ign-footer__link+.ign-footer__link {
    margin-top: 12px
}

.ign-footer .ign-logo {
    width: 170px;
    max-height: 40px
}

.ign-footer .ign-logo__fill {
    fill: #141414
}

@media(min-width: 700px) {
    .ign-footer__main {
        padding:32px 22px
    }

    .ign-footer__link+.ign-footer__link {
        margin-top: 0
    }

    .ign-footer__links {
        flex-direction: row;
        gap: 0 24px;
        display: flex;
        flex-wrap: wrap
    }

    .ign-footer__links__column {
        padding: 0;
        width: calc(50% - 12px)
    }

    .ign-footer__base__info {
        align-items: flex-end
    }

    .ign-footer__base .ign-footer__links {
        margin: 0;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 12px 24px;
        align-self: stretch;
        flex-wrap: wrap
    }

    .ign-footer__copyright {
        width: 25%
    }

    .ign-footer__social {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        justify-content: center
    }

    .ign-footer__social__link {
        flex-basis: 50%
    }

    .ign-footer__apps {
        width: 25%;
        align-items: flex-end
    }

    .ign-footer__actions__container {
        padding: 16px 22px;
        justify-content: center;
        align-items: center;
        gap: 8px
    }

    .ign-footer__actions__link {
        width: fit-content
    }
}

@media(min-width: 1000px) {
    .ign-footer__links {
        display:flex;
        flex-direction: row
    }

    .ign-footer__links__column {
        flex: 1
    }

    .ign-footer__actions__container {
        padding: 16px 102px
    }
}

@media(min-width: 1200px) {
    .ign-footer__main {
        padding:80px 22px
    }

    .ign-footer__main+.ign-footer__actions {
        margin-top: -48px
    }

    .ign-footer__links {
        gap: 0 48px
    }
}

@media(min-width: 0px)and (max-width: 999px) {
    .ign-footer__links__column:nth-child(1) {
        order:1
    }

    .ign-footer__links__column:nth-child(2) {
        order: 3
    }

    .ign-footer__links__column:nth-child(3) {
        order: 2
    }

    .ign-footer__links__column:nth-child(4) {
        order: 4
    }
}

@media print {
    .ign-footer {
        display: none !important
    }
}

.ign-banner,.ign-banner * {
    box-sizing: border-box
}

.ign-banner {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #ffd029;
    color: #141414;
    z-index: 101;
    text-align: center;
    padding: 10px 16px 9px 16px;
    cursor: pointer
}

@media(min-width: 700px) {
    .ign-banner {
        padding-left:24px;
        padding-right: 24px
    }
}

.ign-banner--flop {
    min-height: 40px;
    height: auto;
    overflow: auto;
    white-space: normal
}

.ign-banner .ign-icon {
    display: inline-block;
    vertical-align: middle;
    margin: -5px 6px 0 0;
    width: 20px;
    height: 20px
}

.ign-banner .ign-icon__fill {
    fill: #141414
}

.ign-banner a {
    color: #141414
}

.ign-banner a:hover {
    text-decoration: none
}

@media print {
    .ign-banner {
        display: none !important
    }
}
