.ul-project-img1 {
    background-image: url('/assets/img/event/1.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}

.ul-project-img2 {
    background-image: url('/assets/img/event/2.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}
.ul-project-img3 {
    background-image: url('/assets/img/event/3.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}
.ul-project-img4 {
    background-image: url('/assets/img/event/4.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}
.ul-project-img5 {
    background-image: url('/assets/img/event/5.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}
.ul-project-img6 {
    background-image: url('/assets/img/event/6.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}
.ul-project-img7 {
    background-image: url('/assets/img/event/7.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}
.ul-project-img8 {
    background-image: url('/assets/img/event/8.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}
.ul-project-img9 {
    background-image: url('/assets/img/event/9.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
}

@media (max-width: 768px) {
    .ul-project-img1 {
        background-image: url('/assets/img/event/m1.png');
        height: 522px
    }

    .ul-project-img2 {
        background-image: url('/assets/img/event/m2.png');
        height: 522px
    }

    .ul-project-img3 {
        background-image: url('/assets/img/event/m3.png');
        height: 522px
    }

    .ul-project-img4 {
        background-image: url('/assets/img/event/m4.png');
        height: 522px
    }

    .ul-project-img5 {
        background-image: url('/assets/img/event/m5.png');
        height: 522px
    }

    .ul-project-img6 {
        background-image: url('/assets/img/event/m6.png');
        height: 522px
    }

    .ul-project-img7 {
        background-image: url('/assets/img/event/m7.png');
        height: 522px
    }

    .ul-project-img8 {
        background-image: url('/assets/img/event/m8.png');
        height: 522px
    }

    .ul-project-img9 {
        background-image: url('/assets/img/event/m9.png');
        height: 522px
    }
